.DS_Store
.dirstamp
*~
*.aux
*.cp
*.fn
*.html
*.info
*.ky
*.lo
*.log
*.o
*.pdf
*.pg
*.toc
*.tp
*.txt
*.vr
a.out
/aclocal.m4
/autom4te.cache/
/build/
/config.h.in
/configure
config.h
config.log
config.status
stamp-*
version-*
Makefile
Makefile.in
